* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Restaurante-detalhes{
    width: 22.5rem;
    height: 100vh;
    border: 1px solid #b8b8b8;
    overflow: auto;

}

.Black {
    width: 22.4rem;
    height: 1.25rem;
    padding: 0 0.313rem 0 0;
    display: flex;
    margin: 0.2rem;
}

.Mobile-Signal{
    width: 1.031rem;
  height: 0.675rem;
  border-radius: 1px;
  margin-left: 1rem;
  
}

time {
    width: 4.315rem;
    height: 0.875rem;
    margin-left: 7rem;
    font-family: Roboto;
    font-size: 0.75rem;
    color: #030303;
    
}

.Bateria{
    width: 4.315rem;
    height: 0.875rem;
    font-family: Roboto;
    font-size: 0.75rem;
    text-align: center;
    color: #030303;
    margin-left: 3rem;

    
}

.Charge {
    width: 1.25rem;
    height: 0.9rem;
    border-radius: 0.5px;
    margin-left: 0;
    
}

.Bar {
    width: 22.3rem;
    height: 2.5rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar{
    width: 1.44rem;
    height: 1.5rem;
    margin-right: 1rem;
    object-fit: contain;
}

.Restaurante{
    width: 20.5rem;
    
}


.RestaurantInfo{
    width: 22.4rem;
    display: flex;
    flex-direction: column;
}

.DeliveryAndShipping{
    display: flex;
    
}

.RestaurantImage {
    width: 20.5rem;
    height: 7.5rem;
    margin: 1rem 1rem 0.75rem;
    object-fit: contain;
    text-align: center;
}

.RestauranteName {
    width: 20.5rem;
    height: 1.125rem;
    margin: 0.75rem 1rem 0.5rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #e8222e;

}

.DeliveryTime {
    width: 6.5rem;
    height: 1.125rem;
    margin: 0.5rem 0.5rem 0.625rem 1rem;
    font-family: Roboto;
    font-size: 1rem;
    letter-spacing: -0.39px;
    color: #b8b8b8;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    
}

.Shipping {
    width: 6.5rem;
    height: 1.125rem;
    margin: 0.5rem 8rem 0.625rem 0.5rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #b8b8b8;    
}

.Address {
    width: 20.5rem;
    height: 1.125rem;
    margin: 0.625rem 1rem 1rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #b8b8b8;
    
}

.Copys{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.PrincipaisCopy {
    width: 21.5rem;
    height: 1.125rem;
    margin: 1rem 1rem 0.5rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: black;
}

.PathCopy {
    width: 21.5rem;
    height: 0.063rem;
    margin: 0 0 0.438rem;
    border: solid 1px black;
    align-self: center;
}

.ListaProdutos{
    max-width: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProductCard{
    width: 20.5rem;
    height: 7.5rem;
    padding: 0;
    border: solid 1px #b8b8b8;
    margin: 0.438rem 0 0;
    display: flex;
   
}

.ProductInfo{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.ItemName {
    width: 9.438rem;
    height: 1.125rem;
    margin: 10% 10% 0.5rem 1rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #e8222e;

}

.ItemDescription {
    width: 9.438rem;
    height: 1.875rem;
    margin: 0.5rem 0.5rem 0.25rem;
    font-family: Roboto;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.29px;
    color: #b8b8b8;

  }

  .Price {
    width: 7.375rem;
    height: 1.188rem;
    margin: 0.25rem 0.5rem 0.938rem 1rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: black;

  }

  .ProductImage {
    width: 6rem;
    height: 7rem;
    padding: 0;
    object-fit: contain;

  }

.BotaoAdicionar {
    width: 5.625rem;
    height: 1.938rem;
    margin: 0.438rem 0 0 0.5rem;

    border-radius: 8px;
    border: solid 1px black;
    align-self: flex-end;
    
}